<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ethh.dal.mapper.StrategyOperationLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ethh.dal.entity.StrategyOperationLogPO">
        <id column="log_id" property="logId" />
        <result column="strategy_id" property="strategyId" />
        <result column="operation_content" property="operationContent" />
        <result column="operation_type" property="operationType" />
        <result column="operator" property="operator" />
        <result column="created_at" property="createdAt" />
        <result column="modified_at" property="modifiedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, strategy_id, operation_content, operation_type, operator, created_at, modified_at
    </sql>

</mapper>
